<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>     
    </startup>
  <appSettings>
    <add key="GeneratedGvlNameUnstructured" value="GVL_gen_unstruct"/>
    <add key="GeneratedMappingNameUnstructuredImport" value="Mapping_gen_unstruct_import"/>
    <add key="GeneratedMappingNameUnstructuredPaste" value="Mapping_gen_unstruct_paste"/>
    <add key="GeneratedGvlNameStructured" value="GVL_iXlinker"/>
    <add key="GeneratedMappingNameStructuredImport" value="Mapping_iXlinker_import"/>
    <add key="GeneratedMappingNameStructuredPaste" value="Mapping_iXlinker_paste"/>
    <add key="ExportSubDirname" value="_InxtonLinkerExport"/>
  </appSettings>
</configuration>
